{% extends 'base.html.twig' %}

{% block title %}Mon profil - {{ parent() }}{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            {% include 'user/_sidebar.html.twig' with {'active': 'profile'} %}
        </div>
        <div class="col-md-9">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0 fs-4">Mon profil</h2>
                </div>
                <div class="card-body p-4">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.firstName) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.lastName) }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.company) }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.plainPassword.first) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.plainPassword.second) }}
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Mettre à jour mon profil</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 